/*Jumbotron*/

.jumbotron {
     position: relative;     
     background:url("./images/background.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     vertical-align: top;
     width: auto;
     height: 100%;    
  }

  .jumbotron > .container-fluid {    
    padding: 60px 50px;	
	background-color: rgba(159, 83, 166, 0.2);	
    text-align: center;       
 }

/*---End Jumbotron---*/

  /*Navigation*/


#logo-nav {    
     display: inline;
     position: relative;
     margin: 0;
 }
.navbar {
      margin: 0 auto;
      z-index: 9999;
      border: 0;
      line-height: 1.42857143 !important;
      letter-spacing: 3px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;   
      position: relative;   
  }
#log-nav {
    display: block;					
	padding: 0 1.25rem;
}
#logo-nav:hover, 
#log-nav :hover {
					color: #fff;
					background: #7B8780;
				}

#logo-nav.active,
#logo-nav.active {
					color: #fff;
					background: #7B8780;
				}
/* Nav */

			#nav {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 1000;				
				width: 100%;
				height: 5rem;
				line-height: 3.25rem;
				text-align: center;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				text-transform: uppercase;
				cursor: default;
			}

				#nav ul li {
					position: relative;
					z-index: 1001;
				}

				#nav ul li {
					display: inline-block;
					margin: 0 0.5rem 0 0.5rem;
					top: 0;
					position: relative;
					-moz-transition: top .15s ease-in-out;
					-webkit-transition: top .15s ease-in-out;
					-o-transition: top .15s ease-in-out;
					-ms-transition: top .15s ease-in-out;
					transition: top .15s ease-in-out;							
				}

					#nav li > ul {
						display: none;
					}

					#nav li a, 
					#nav li span,
					 {
						-moz-transition: background-color .075s ease-in-out; 
						-webkit-transition: background-color .075s ease-in-out; 
						-ms-transition: background-color .075s ease-in-out; 
						transition: background-color .075s ease-in-out; 
						position: relative;
						display: block;
						text-decoration: none;
						color: #6b7770;
						top: -6px;
						padding: 6px 1.5em 0.25em 1.5em;						
						outline: 0;
					}
					
					#nav li:hover, #nav li.active {
						top: 3px;
					}

					#nav li:hover a, #nav li:hover span {
						background: #C1CAC5;
						color: #fff;
					}

					#nav li.active a, #nav li.active span {
						background: #C1CAC5;
						color: #fff;
					}

					#nav li.current a {
						background: #e5f2e5;
						color: #fff;
					}

			.dropdown {
				display: inline-block;				
				top: 0;
				position: relative;									
				text-align: center;
				font-family: 'Montserrat', sans-serif;				
				font-weight: 700;
				text-transform: uppercase;										
			}
				.dropdown-item {
					font-size: 0.7rem;
				}
				.dropdown li > a, .dropdown li > span {
					display: block;
					color: #D7DAD8;
					text-decoration: none;
					padding: 0 1.25rem;					
				}
                .dropdown-item li > a, .dropdown-item li > span {
					display: block;
					color: #D7DAD8;
					text-decoration: none;
					padding: 0 1.25rem;					
				}

				.dropdown li:hover > a, .dropdown li:hover > span {
					color: #fff;
					background: #7B8780;
				}
                .dropdown-item li:hover > a, .dropdown-item li:hover > span {
					color: #fff;
					background: #7B8780;
				}

				.dropdown li.active > a, .dropdown li.active > span {
					color: #fff;
					background: #7B8780;
				}

                .dropdown-item li.active > a, .dropdown-item li.active > span {
					color: #fff;
					background: #7B8780;
				}
				.dropdown li:first-child {
					border-top: 0;
				}

				.dropdown.level-0 {
					margin-top: 1rem;
					font-size: 0.7rem;
				}

					.dropdown.level-0:before {
						content: '';
						position: absolute;
						left: 50%;
						margin-left: -1rem;
						top: -0.65rem;
						border-bottom: solid 1rem #6B7770;
						border-left: solid 1rem transparent;
						border-right: solid 1rem transparent;
					}

 /*---End Navigation---*/

/* video*/
video {
    width: 100% !important;
    height: auto !important;
}
/*---end homepage---*/


/*---About page---*/

#drygon-card { 
  width: 50%;
  height: auto;   
}

#drygon {
  padding-left: 1rem;  
}

#drygon-logo {
    width: 100%;
    height: auto;
}

#map {
    margin-top: 5rem;
    height: 400px;
    width: 400px;
    }