/*Jumbotron*/

.jumbotron {
     position: relative;     
     background:url("./images/background.jpg") no-repeat center center fixed;;
     -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     vertical-align: top;
     width: 100%;
     height: 100%;    
  }

  .jumbotron > .container-fluid {    
    padding: 60px 50px;	
	background-color: rgba(159, 83, 166, 0.2);	       
 }


/*---End Jumbotron---*/

  /*Navigation*/
.nav-outter {    
      background-color: lightgray;
      margin-bottom: 7rem;   
      min-width: 50%;
      min-height: auto; 
  }

#logo-nav {
     max-width: 100%;
     height: auto;
     display: block;
     position: relative;
     margin-bottom: 0;
 }
.navbar {
      margin: 0 auto;
      z-index: 9999;
      border: 0;
      line-height: 1.42857143 !important;
      letter-spacing: 3px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;   
      position: relative;   
  }

.nav-item ,
.navbar-brand,
.dropdown-item {     
      padding: .25rem 0;
      background-color: transparent;          
  }
   
.navbar-default .navbar-toggle {
      border-color: transparent;   
  }

  .dropdown-item {
      font-size: 0.8rem;
  }

.nav-item a::before {
    background-color: transparent;
}

.navbar .nav-item:hover,
.navbar .nav-item:focus,
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus,
.nav-item a:hover,
.nav-item a:focus {
     color: #743970 !important;
     background-color:#e5f2e5 !important;
     border-radius: 0.3em;     
}
.navbar-nav .active,
.nav-item a .active {
      color: #743970 !important;
      background-color:#e5f2e5 !important;
      border-radius: 0.3em;     
  }

.dropdown-toggle .nav-link::after {
    color: #743970 !important;
    background-color:#e5f2e5 !important;
}
 /*---End Navigation---*/

/*Homepage*/
#home-row-top {
    margin-bottom: 2em
}

/* video*/
video {
    width: 100% !important;
    height: auto !important;
}
/*---end homepage---*/

/*---About page---*/
#about-page {
    padding: 11em 0;   
}

#drygon-card {
  display: block;
  inline-size: 50%;
  align-content: center;
  margin: 3em 0 3em 9em;
}

#drygon {
  display: inline; 
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/*---footer---*/
footer {   
   padding: 3em 0 1em 0;
   text-align: center;	
   margin-top: 10em;
   border-top: 1px groove;
}

.icon {
     position: relative;
     text-decoration: none;     
     font-size: 32px;
     color: darkgray;   
 }

 .icon:before {
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     font-family: FontAwsome;
     font-style: normal;
     font-weight: normal;
     text-transform: none !important;
 }
 .icon >.label {
     display: none;
 }

 .fa-linkedin:hover {
     background-color: lightblue;
     text-decoration-line: none;
 }
 .fa-youtube:hover {
     background-color:darkred;
      text-decoration-line: none;
 }
/* Copyright */

#copyright {
    margin: 1em 0;
	display: inline-block;
    width: 100%;
	background: #e7eae8;
	padding: 0.75em 2em 0.75em 2em;
	border-radius: 8px;		
	}

#copyright span {
	color:darkolivegreen;
  font-weight: 600;
} 

#copyright ul {
		list-style-type: none;
}

#copyright {
		border-color: #e5f2e5;
		border-width: 2px;
		line-height: 2em;
    list-style: none;
}
/*---end footer---*/
/*---end about page---*/
 @media screen and (min-width: 575px) and (max-width: 736px) {
    
.navbar {
    font-size: 0.8rem;
}
  .dropdown-item {
      font-size: 0.6rem;
  }

 }

 @media screen and (max-width: 575px) {
     
 }